setuptools
aiohttp
aiosmtplib
async-timeout
attrs
beautifulsoup4
bs4
cachetools
certifi
chardet
cssselect
cssutils
fake-useragent
idna
lxml
multidict
numpy
pandas
plotly
premailer
python-dateutil
pytz
requests
retrying
six
soupsieve
tinydb
typing-extensions
urllib3
yagmail
yarl
selenium
undetected-chromedriver
appdirs
black
click
dnspython
email-validator
fastapi
flake8
h11
httptools
mccabe
motor
mypy-extensions
pathspec
pip-tools
pycodestyle
pydantic[email]
pyflakes
pymongo
python-dotenv
pyyaml
regex
starlette
toml
typed-ast
uvicorn[standard]
uvloop
watchgod
websockets
